{%include 'admin_header.html'%}



<!-- ======= Hero Section ======= -->
          <p data-aos="fade-up" data-aos-delay="100">Thank you for using the Movement Permit And Tracking System for curfews.Our platform is dedicated to ensuring seamless monitoring and management of movement during curfew periods.we strive to provide a user friendly experience while prioritizing safety and compliance with regulations.</p>
          <section id="hero" class="hero d-flex align-items-center">
    <div class="container">
      <div class="row gy-4 d-flex justify-content-between">
        <div class="col-lg-6 order-2 order-lg-1 d-flex flex-column justify-content-center">
          <h2 data-aos="fade-up">MOVEMENT PERMIT AND TRACKING SYSTEM</h2>
          <p data-aos="fade-up" data-aos-delay="100"></p>

          <!-- <form action="#" class="form-search d-flex align-items-stretch mb-3" data-aos="fade-up" data-aos-delay="200">
            <input type="text" class="form-control" placeholder="ZIP code or CitY">
            <button type="submit" class="btn btn-primary">Search</button>
          </form> -->

       
        </div>

        <div class="col-lg-5 order-1 order-lg-2 hero-img" data-aos="zoom-out">
          <img src="static/assets/img/hero-img.svg" class="img-fluid mb-3 mb-lg-0" alt="">
        </div>

      </div>
    </div>
  </section><!-- End Hero Section -->



{%include 'footer.html'%}