<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="" method="post"></form>
    <table>
        <tr>
            <td>title</td>
            <td><input type="text" name="ctype"></td>
        </tr>
        <tr>
            <td>Description</td>
            <td><input type="text" name="des"></td>
        </tr>
        <tr><td>Reply</td>
        <td><input type="text" name="reply"></td></tr>
        <tr><td>Date</td>
        <td><input type="text" name="date"></td></td></tr>
        <tr><input type="submit" name="send" value="send"></tr>

    </table>
    
</body>
</html>