<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@drawable/logo"
        android:supportsRtl="true"
        android:theme="@style/Theme.Movement"
        android:usesCleartextTraffic="true"
        tools:targetApi="31">
        <activity
            android:name=".Authorty_reg"
            android:exported="false" />
        <activity
            android:name=".Custome_athu_noti"
            android:exported="false" />
        <activity
            android:name=".Correctone"
            android:exported="false" />
        <activity
            android:name=".Approvepage"
            android:exported="false" />
        <activity
            android:name=".Coustomize_auth_request"
            android:exported="false" />
        <activity
            android:name=".customize_notification"
            android:exported="false" />
        <activity
            android:name=".customize_user_req"
            android:exported="false" />
        <activity
            android:name=".Auth_view_request"
            android:exported="false" />
        <activity
            android:name=".Scan_qrcode"
            android:exported="false" />
        <activity
            android:name=".Auth_home"
            android:exported="false" />
        <activity
            android:name=".Auth_view_notification"
            android:exported="false" />
        <activity
            android:name=".Auth_com"
            android:exported="false" />
        <activity
            android:name=".Autho_profile"
            android:exported="false" />
        <activity
            android:name=".Authority_reg"
            android:exported="false" />
        <activity
            android:name=".User_send_complaint"
            android:exported="false" />
        <activity
            android:name=".User_view_notification"
            android:exported="false" />
        <activity
            android:name=".User_view_request"
            android:exported="false" />
        <activity
            android:name=".User_send_request"
            android:exported="false" />
        <activity
            android:name=".User"
            android:exported="false" />
        <activity
            android:name=".Userhome"
            android:exported="false" />
        <activity
            android:name=".Login"
            android:exported="false" />
        <activity
            android:name=".User_reg"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="false" />
        <activity
            android:name=".IPSetting"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service android:name=".LocationService" />
    </application>

</manifest>